@tailwind base;
@tailwind components;
@tailwind utilities;


/* PREMIUM SCROLLBAR */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(100, 116, 139, 0.9);
  border-radius: 999px;
}
